<h3>Welcome to Shortly</h3>
<p>A URL Shortner</p>
<p></p>

<% if logged_in? %>
  <h4>Your URLs</h4>
  <% if ! @urls.empty? %>
    <ul id="urls">
      <% @urls.each do |url| %>
        <li>
          <p>
            <b><%= url.long_url %></b>
          </p>
          <p>
            <a href="<%= url.short_url %>" target="_blank"> short.ly/<%= url.short_url %> </a><br />
            <i>Click count: <%= url.click_count %></i><br />
          </p>
          <%= link_to "Delete Url", url_path(url), method: :delete %>
        </li>
      <% end %>
    </ul>
<% else %>
  <p>Currently there are no links!</p>
<% end %>

  <%= link_to "Shorten a link", new_url_path, class: "new_url" %>

<% end %>
