<h3>Shorten a URL</h3>


<%= form_for(@url) do |f| %>
<ul>
  <% @url.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>

<p>
  Enter a long Url:<br />
  <%= f.text_field :long_url %>
</p>

<p>
  Enter a short Url:<br />
  <%= f.text_field :short_url %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
