<h3>Shorten a URL</h3>


<%= form_for(@url) do |f| %>
<ul>
  <% @url.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>

<p>
  Enter a URL:<br />
  <%= f.text_field :long_url %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to "Back to index", urls_path, class: "urls" %>
