<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h4>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.username}" %>
          <%= link_to "(log out)", logout_path, method: "delete" %>
          <p></p>
          <%= link_to "Admin", users_path %>
        <% else %>
          <% if !current_page?('/register') %>
            <%= link_to "Log in", login_path, method: "get" %><span> to shorten a URL</span><br />
            <%= link_to "Register", register_path, method: "get" %><span> to create an account</span>
          <% end %>
        <% end %>
      </h4>
    </div>
  </div>

</body>
</html>
